:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #17404f; /* Azul oscuro para el texto */
  background-color: #d1e8e2; /* Verde agua pastel para el fondo */

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #d1e8e2; /* Fondo verde agua pastel */
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  color: #17404f; /* Azul oscuro para el título */
}

nav {
  display: flex;
  gap: 10px;
  background-color: #8ab0ab; /* Verde grisáceo pastel */
  padding: 10px;
  border-radius: 8px;
}

nav a {
  color: #17404f; /* Azul oscuro para los enlaces */
  text-decoration: none;
  font-weight: 500;
}

nav a:hover {
  color: #286c8c; /* Azul más claro al pasar el mouse */
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #8ab0ab; /* Verde grisáceo pastel */
  cursor: pointer;
  transition: border-color 0.25s, background-color 0.25s;
}

button:hover {
  border-color: #286c8c; /* Azul más oscuro */
  background-color: #6d9894; /* Verde más saturado */
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

p {
  color: #17404f; /* Azul oscuro para los textos */
}

@media (prefers-color-scheme: light) {
  :root {
    color: #17404f;
    background-color: #d1e8e2;
  }
  nav {
    background-color: #8ab0ab;
  }
  button {
    background-color: #8ab0ab;
  }
  button:hover {
    background-color: #6d9894;
  }
}